<div class="loginDiv" *ngIf="( authApp.user | async) as obs; else login">{{obs.email}} - {{obs.uid}}
  <br/><br/>
  <ion-button color="warning" (click)="authApp.logout()"><i class="fas fa-sign-out-alt"></i> OUT</ion-button>
  <br/><br/>
  <ion-button  color="success" (click)="dbApp.altausuario(obs.email, obs.uid)"><i class="fas fa-check"></i> ALTA</ion-button>
  <ion-button  color="danger" (click)="dbApp.bajausuario(obs.uid)"><i class="far fa-trash-alt"></i> BAJA</ion-button>
  <br/><br/>
</div>

  <ng-template #login>
    <div class="loginDiv">
        <br/><br/>
        <ion-button color="tertiary" (click)="authApp.login()">
          <i class="fab fa-github"></i>
          GitHub Login</ion-button>
        <br/><br/>
        <ion-button color="danger"(click)="authApp.glogin()">
          <i class="fab fa-google"></i>
          Google Login
        </ion-button>
    </div>
  </ng-template>
